@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: oklch(0.9809 0.0025 228.7836);
        --foreground: oklch(0.3211 0 0);
        --card: oklch(1.0000 0 0);
        --card-foreground: oklch(0.3211 0 0);
        --popover: oklch(1.0000 0 0);
        --popover-foreground: oklch(0.3211 0 0);
        --primary: oklch(0.8677 0.0735 7.0855);
        --primary-foreground: oklch(0 0 0);
        --secondary: oklch(0.8148 0.0819 225.7537);
        --secondary-foreground: oklch(0 0 0);
        --muted: oklch(0.8828 0.0285 98.1033);
        --muted-foreground: oklch(0.5382 0 0);
        --accent: oklch(0.9680 0.2110 109.7692);
        --accent-foreground: oklch(0 0 0);
        --destructive: oklch(0.6368 0.2078 25.3313);
        --destructive-foreground: oklch(1.0000 0 0);
        --border: oklch(0.8699 0 0);
        --input: oklch(0.8699 0 0);
        --ring: oklch(0.8677 0.0735 7.0855);
        --chart-1: oklch(0.8677 0.0735 7.0855);
        --chart-2: oklch(0.8148 0.0819 225.7537);
        --chart-3: oklch(0.9680 0.2110 109.7692);
        --chart-4: oklch(0.8027 0.1355 349.2347);
        --chart-5: oklch(0.7395 0.2268 142.8504);
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --sidebar: oklch(0.9809 0.0025 228.7836);
        --font-sans: Poppins, sans-serif;
        --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
        --font-mono: Roboto Mono, monospace;
        --shadow-color: oklch(0 0 0);
        --shadow-opacity: 0.1;
        --shadow-blur: 3px;
        --shadow-spread: 0px;
        --shadow-offset-x: 0;
        --shadow-offset-y: 1px;
        --letter-spacing: 0em;
        --spacing: 0.25rem;
        --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
        --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
        --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
        --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
        --tracking-normal: 0em;
    }
    .dark {
        --background: oklch(0.2303 0.0125 264.2926);
        --foreground: oklch(0.9219 0 0);
        --card: oklch(0.3210 0.0078 223.6661);
        --card-foreground: oklch(0.9219 0 0);
        --popover: oklch(0.3210 0.0078 223.6661);
        --popover-foreground: oklch(0.9219 0 0);
        --primary: oklch(0.8027 0.1355 349.2347);
        --primary-foreground: oklch(0 0 0);
        --secondary: oklch(0.7395 0.2268 142.8504);
        --secondary-foreground: oklch(0 0 0);
        --muted: oklch(0.3867 0 0);
        --muted-foreground: oklch(0.7155 0 0);
        --accent: oklch(0.8148 0.0819 225.7537);
        --accent-foreground: oklch(0 0 0);
        --destructive: oklch(0.6368 0.2078 25.3313);
        --destructive-foreground: oklch(1.0000 0 0);
        --border: oklch(0.3867 0 0);
        --input: oklch(0.3867 0 0);
        --ring: oklch(0.8027 0.1355 349.2347);
        --chart-1: oklch(0.8027 0.1355 349.2347);
        --chart-2: oklch(0.7395 0.2268 142.8504);
        --chart-3: oklch(0.8148 0.0819 225.7537);
        --chart-4: oklch(0.9680 0.2110 109.7692);
        --chart-5: oklch(0.8652 0.1768 90.3816);
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --radius: 0.5rem;
        --sidebar: oklch(0.2303 0.0125 264.2926);
        --font-sans: Poppins, sans-serif;
        --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
        --font-mono: Roboto Mono, monospace;
        --shadow-color: oklch(0 0 0);
        --shadow-opacity: 0.1;
        --shadow-blur: 3px;
        --shadow-spread: 0px;
        --shadow-offset-x: 0;
        --shadow-offset-y: 1px;
        --letter-spacing: 0em;
        --spacing: 0.25rem;
        --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
        --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
        --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
        --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    }
  .theme {
        --font-sans: Poppins, sans-serif;
        --font-mono: Roboto Mono, monospace;
        --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
        --radius: 0.5rem;
        --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
        --tracking-tight: calc(var(--tracking-normal) - 0.025em);
        --tracking-wide: calc(var(--tracking-normal) + 0.025em);
        --tracking-wider: calc(var(--tracking-normal) + 0.05em);
        --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    }
  body {
    letter-spacing: var(--tracking-normal);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.skeleton {
    * {
        pointer-events: none !important;
    }

    *[class^="text-"] {
        color: transparent;
        @apply rounded-md bg-muted select-none animate-pulse;
    }

    .skeleton-bg {
        @apply bg-muted;
    }

    .skeleton-div {
        @apply bg-muted animate-pulse;
    }
}

.ProseMirror {
    outline: none;
}

.cm-editor,
.cm-gutters {
    @apply bg-background dark:bg-zinc-800 outline-none selection:bg-zinc-900 !important;
}

.ͼo.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
.ͼo.cm-selectionBackground,
.ͼo.cm-content::selection {
    @apply bg-zinc-200 dark:bg-zinc-900 !important;
}

.cm-activeLine,
.cm-activeLineGutter {
    @apply bg-transparent !important;
}

.cm-activeLine {
    @apply rounded-r-sm !important;
}

.cm-lineNumbers {
    @apply min-w-7;
}

.cm-foldGutter {
    @apply min-w-3;
}

.cm-lineNumbers .cm-activeLineGutter {
    @apply rounded-l-sm !important;
}

.suggestion-highlight {
    @apply bg-blue-200 hover:bg-blue-300 dark:hover:bg-blue-400 dark:text-blue-50 dark:bg-blue-500;
}